.pytest_cache/
.venv/
.vscode/
his/
reports/ 
**/__pycache__/
*.py[cod]
*.xlsx
*.xls
!config/report_config_零售业_分店.yaml
!config/report_config_example.yaml
!config/data_extraction_config_example.xlsx
!data/raw/*example*.xlsx
!data/raw/*样例*.xlsx
.env
tmp.md
.DS_Store
*[全行|分行]*.*


